<div class="profile-container">
    <h2>Profil de {{ memberName }}</h2>
  
    <form>
      <mat-form-field>
        <mat-label>Pseudonyme</mat-label>
        <input matInput [(ngModel)]="memberName" name="memberName" placeholder="Pseudonyme">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" name="email" placeholder="Email">
      </mat-form-field>
  
      <button mat-raised-button color="primary" (click)="editProfile()">Modifier le profil</button>
    </form>
  </div>