<div id="registration-tittle">
  <h1 class="mat-typography">Inscription</h1>
</div>

<div class="container">
  <div class="registration-container">
    <div class="registration-container-design">
      <form (ngSubmit)="register()">
        <mat-form-field class="field-style">
          <mat-label>Pseudonyme</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="memberName"
            name="pseudonyme"
            required
          />
        </mat-form-field>

        <mat-form-field class="field-style">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            [(ngModel)]="email"
            name="email"
            required
          />
        </mat-form-field>

        <mat-form-field class="field-style">
          <mat-label>Mot de passe</mat-label>
          <input
            (input)="checkPassword()"
            matInput
            type="password"
            [(ngModel)]="password"
            name="password"
            required
          />
        </mat-form-field>

        <mat-form-field class="field-style">
          <mat-label>Confirmez le mot de passe</mat-label>
          <input
            (input)="checkPassword()"
            matInput
            type="password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
          />
        </mat-form-field>

        <button mat-raised-button type="submit" class="registration-button">
          S'inscrire
        </button>
      </form>
      
      <div *ngIf="message">{{ message }}</div>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
