.tittle {
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    justify-content: center;
}

.text-center {
    display: flex;
    justify-content: center;
}