@font-face {
  font-family: 'SimpleMinimalist';
  src: url('/src/assets/fonts/SimpleMinimalist.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; /* Couverture minimale en largeur */
  min-height: 100%; /* Couverture minimale en hauteur */
  width: auto; /* Pour maintenir le rapport d'aspect */
  height: auto; /* Pour maintenir le rapport d'aspect */
  z-index: -1; /* Pour s'assurer que le contenu est par-dessus la vidéo */
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'SimpleMinimalist', sans-serif !important; /* Appliquer la police à tout le contenu */
}

/* Surcharge des styles Angular Material pour les h1 */
.mat-typography .mat-h1, 
.mat-typography h1,
h1.mat-h1 {
  font-family: 'SimpleMinimalist', sans-serif !important; /* Utilisation de !important pour forcer la surcharge */
}

/* Surcharge spécifique pour les titres de la barre d'outils Angular Material */
.mat-toolbar-title {
  font-family: 'SimpleMinimalist', sans-serif !important;
}

html {
  --mat-stepper-header-selected-state-icon-background-color: #2ceac6;
  --mat-stepper-header-done-state-icon-background-color: #2ceac6;
  --mat-stepper-header-edit-state-icon-background-color: #2ceac6;
  --mat-datepicker-calendar-date-selected-state-background-color: #2ceac6;
  --mat-datepicker-toggle-active-state-icon-color: #2ceac6;
  --mdc-filled-text-field-caret-color: #2ceac6;
  --mdc-filled-text-field-focus-active-indicator-color: #2ceac6;
  --mdc-filled-text-field-focus-label-text-color: rgba(44, 234, 198, 0.87);
  --mdc-outlined-text-field-caret-color: #2ceac6;
  --mdc-outlined-text-field-focus-outline-color: #2ceac6;
  --mdc-outlined-text-field-focus-label-text-color: rgba(44, 234, 198, 0.87);
  /* Ajoutez d'autres variables si nécessaire */
}
// /* You can add global styles to this file, and also import other style files */
// #myVideo {
//   position: fixed;
//   right: 0;
//   bottom: 0;
//   min-width: 100%; /* Couverture minimale en largeur */
//   min-height: 100%; /* Couverture minimale en hauteur */
//   width: auto; /* Pour maintenir le rapport d'aspect */
//   height: auto; /* Pour maintenir le rapport d'aspect */
//   z-index: -1; /* Pour s'assurer que le contenu est par-dessus la vidéo */
//   background-size: cover; /* Couvrir l'écran tout en maintenant le rapport d'aspect */
// }

// html,
// body {
//   height: 100%;
// }
// body {
//   margin: 0;
// }

// @font-face {
//   font-family: 'SimpleMinimalist';
//   src: url('/src/assets/fonts/SimpleMinimalist.otf') format('opentype');
//   font-weight: normal;
//   font-style: normal;
// }

// body, .mat-typography {
//   font-family: 'SimpleMinimalist', sans-serif;
// }